* {
  box-sizing: border-box;
}
a,
button,
span {
  cursor: pointer;
}
.clear {
  clear: both;
}
.margin {
  height: 1em;
}
header {
  clear: both;
}
a {
  color: #363f4a;
  text-decoration: none;
}
@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: #fff;
  height: auto;
  font-size: 10pt;
}
.container {
  max-width: 980px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.hidden-element {
  display: none;
}
/*==============================
    TOP NAV
    ==============================*/
.top-nav {
  width: 100%;
  height: 76px;
  background: #202833;
}
.top-nav a,
p {
  text-decoration: none;
  color: #fff;
  margin: 0;
}
.top-nav a:hover {
  color: #b1031c;
}
.widgets-top-left,
.widgets-top-right {
  display: flex;
}
.widgets-icon {
  height: 38px;
  display: flex;
  flex: 0 1 40vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/*==============================
    HEADER
    ==============================*/
.header {
  width: 100%;
}
.logo {
  width: 100%;
  height: 120px;
  display: flex;
  flex: 0 1 40vw;
  align-items: center;
  justify-content: center;
}
.widget-more {
  display: flex;
  padding: 1em 0;
}
.widget-shopping-cart {
  width: 100px;
  margin: 0 auto;
}
.widget-your-wishlist {
  width: 100px;
  margin: 0 auto;
}
.widget-img {
  width: 25px;
  height: 25px;
  margin-left: 35px;
}
.widget-text {
  text-align: center;
  color: #333;
  font-weight: bold;
  margin: 0 auto;
}

.searchform {
  height: 50px;
  width: 80%;
  margin: auto;
}
.searchbox {
  width: 70%;
  height: 40px;
  padding-left: 1em;
  border: none;
  margin: 5px 0;
  float: left;
  border-radius: 5px 0 0 5px;
  box-shadow: 2px 2px 10px #888888;
}
.searchbtn {
  width: 30%;
  height: 40px;
  border: none;
  margin: 5px 0;
  border-radius: 0 5px 5px 0;
  box-shadow: 2px 2px 10px #888888;
  background: #be001c;
  color: #fff;
  transition: background 500ms ease;
}
.searchbtn:hover {
  background: #8e0019;
}
/*==============================
    NAV CHINH
    ==============================*/
.left-menu {
  height: 50px;
  background: #be001c;
  margin: auto;
  border-radius: 10px 10px 0 0;
  box-shadow: 2px 2px 10px #888888;
}
.left-menu-1 {
  width: 50px;
  height: 100%;
  border-left: 1px #fff;
  float: left;
}
.left-menu-1:hover {
  background: #8e0019;
  border-radius: 10px 0 0 0;
}
.left-menu-1 p:hover {
  color: #202833;
}
.left-menu-2 {
  border-left: 1px #fff solid;
  float: left;
}
.left-menu-3 p:hover {
  color: #202833;
}
.left-menu p {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 17px;
  transition: color 500ms ease;
}
.hide-menu-left {
  width: 100%;
  margin: 0 auto;
  display: none;
}
[class^="submenu"] {
  width: 100%;
  height: 50px;
  display: flex;
  flex: 0 1 40vw;
  align-items: center;
  background: #252a37;
  transition: background 500ms ease;
}
[class^="submenu"] p {
  padding-left: 1em;
  margin: 0;
  color: #fff;
}
[class^="submenu"]:hover {
  background: #fff;
}
[class^="submenu"]:hover p {
  color: #252a37;
}
.right-menu {
  width: 100%;
  margin: 0 auto;
  display: none;
}
/*==============================
    SLIDE
    ==============================*/
.slider {
  width: 100%;
  position: relative;
}
.slider img {
  width: 100%;
}
.prev {
  font-size: 30px;
  text-decoration: none;
}
.next {
  font-size: 30px;
  text-decoration: none;
}
/*==============================
    CONTENT
    ==============================*/
.section-element {
  display: none;
}
.title {
  height: 30px;
}
.title p {
  font-size: 18px;
  line-height: 23px;
  color: #333e48;
  font-weight: 700;
  float: left;
  margin-top: 5px;
}
.owl-nav {
  display: flex;
  float: right;
  margin: 7px 0;
}
.species {
  color: #989898;
  padding-top: 10px;
  margin: 0;
}
.name {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: #333e48;
  padding-top: 10px;
}
.dollar {
  color: #be011c;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  margin: 0;
}
.lorem {
  color: #333e48;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  padding-top: 10px;
  margin: 0;
}
.deals-of-the-week {
  margin-top: 1em;
  background: #fff;
}
.deals-of-the-week-form {
  border: 2px #be001c solid;
  padding: 15px;
  border-radius: 5px;
}
.deals-of-the-week-form img {
  width: 100%;
}
.info {
  text-align: center;
  margin: 0 auto;
}
.arrival {
  margin-top: 1em;
}
.arrival-menu {
  float: left;
  height: 30px;
  display: flex;
  align-items: center;
}
.arrival-menu ul {
  margin: 0;
  padding: 0;
}
.arrival-menu ul li {
  display: inline;
}
.arrival-menu ul li a {
  font-size: 18px;
  line-height: 23px;
  color: #333e48;
  font-weight: 700;
}
.box {
  padding: 15px;
  display: flex;
  border: 1px solid #e1e1e1;
  background: #fff;
  border-radius: 5px;
}
.img-sp {
  width: 120px;
  height: 120px;
}
.add-to-cart {
  margin-top: 10px;
  height: 38px;
  color: #a7a7a7;
  background: none;
  border: 0;
  box-shadow: none;
  display: inline-block;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  font-weight: 600;
  padding: 0 20px;
  text-shadow: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.list-categories {
  background: #f3f8f9;
  padding-top: ;
}
.gerenal {
  margin-top: 1em;
}
.comment {
  text-transform: uppercase;
  width: 100%;
}
.gerenal .title {
  border-bottom: 1px solid #e0e0e0;
  height: 50px;
  float: left;
  margin-bottom: 1em;
  width: 100%;
}
.categories-nav {
  float: left;
}
.categories-nav ul {
  padding: 0;
  margin: 0;
}
.categories-nav ul li {
  display: inline;
  padding: 0 5px;
}
.gerenal .title .nav-sp .owl-nav {
  margin: 0;
}
.latest-posts-blog {
  margin-top: 1em;
}
.latest-posts-blog .title {
  border-bottom: 1px solid #e0e0e0;
}
.latest-posts-blog-form img {
  width: 100%;
}
.latest-posts-blog-form {
  text-align: center;
}
.information {
  margin-top: 2em;
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
}
.information .lorem {
  margin-bottom: 2em;
}
.author-1,
.author-2,
.author-3,
.author-4,
.author-5 {
  background: url(/images/author.png) no-repeat;
  border: none;
  border-radius: 50px;
}
.author {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e0e0e0;
}
.author-img-form {
  width: 100px;
  display: flex;
  justify-content: center;
}
.author-1 {
  width: 64px;
  height: 64px;
  background-position: 0 0;
}
.author-2 {
  width: 64px;
  height: 64px;
  background-position: -64px 0;
}
.author-3 {
  width: 64px;
  height: 64px;
  background-position: -128px 0;
}
.author-4 {
  width: 64px;
  height: 64px;
  background-position: -192px 0;
}
.author-5 {
  width: 64px;
  height: 64px;
  background-position: -256px 0;
}
.selector-element {
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}
.shipping,
.support,
.money-back,
.member-discount {
  height: 80px;
}
.icon-form {
  width: 80px;
  height: 80px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 40px;
  color: #3d4550;
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (min-width: 480px) {
}
/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px) {
  .top-nav{
    height: 38px;
  }
  .widgets-top{
    display: flex;
    justify-content: space-between;
  }
  .logo {
    width: 22%;
    float: left;
  }
  .searchform {
    width: 48%;
    height: 120px;
    float: left;
    display: flex;
  }
  .searchbox,
  .searchbtn {
    margin: auto;
  }
  .widget-more {
    width: 30%;
  }
  .widget-shopping-cart,
  .widget-your-wishlist {
    margin-top: 28px;
  }
  .deals-of-the-week{
    width: 49%;
    float: left;
  }
  .deals-of-the-week-form{
    display: flex;
    height: 300px;
  }
  .deals-of-the-week-form img{
    width: 150px;
    height: 150px;
  }
  .arrival{
    width: 49%;
    float: right;
  }
  .arrival-form{
    height: 300px;
  }
  .arrival-form .group{
    height: 300px;
  }
  .arrival-form .group .box{
    height: 48%;
  }
  .arrival-form .group .box img{
    width: 120px;
    height: 120fpx;
  }
  .arrival-form .group .box .detail .dollar{
    float: left;
  }
  .arrival-form .group .box .detail .add-to-cart{
    float: right;
  }
  .gerenal .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .gerenal .title .comment{
    width: 50%;
    margin: 0;
  }
  .gerenal .title .nav-sp{
    display: flex;
    align-items: center;
  }
  .gerenal .title .nav-sp .categories-nav ul li{
    padding: 0 15px;
  }
  .gerenal .group{
    width: 50%;
    float: left;
  }
  .gerenal .margin{
    display: none;
  }
  .gerenal .group .box{
    border-radius: 0;
  }
  .box-1{
    border-bottom: 0;
  }
  .group-catg-1 .box-1,
  .group-catg-1 .box-2{
    border-right: 0;
  }
  .group-catg-2{
    display: block;
    float: right;
  }
  .latest-posts-blog-meta{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
  }
  .blog-2{
    display: block;
  }
  .latest-posts-blog-form{
    width: 49%;
  }
}
/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px) {
}
